.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardCuisine{
    width: 15vw;
    height: 15vw;
    margin:4rem 2rem;
    position: relative;
    
}
img{
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}
a{
    text-decoration:none;
}
.h4cuisine{
    position: absolute;
    top:15vw;
    text-align: center;
    padding: 1rem;
    color: #313131;
}