.wrapper{
    margin:3rem 0rem;
}
.breakfastH3{
    font-family: 'Roboto',sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.card{
    min-height: 10rem;
    min-width: 10rem;
    border-radius: 2rem;
    overflow: hidden;
    position:relative;
}
img{
    border-radius: 2rem;
    z-index:-1;
    position: absolute;
   left:0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
p{
    position:absolute;
    z-index:6;
    left:50%;
    bottom: 0%;
    transform: translate(-50%,0%);
    color:white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size:0.8rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient{
    display: flex;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));
    z-index: 10;
    min-height: 15rem;
    min-width: 10rem;
}