.searchWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
.logo{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    color:rgb(50, 50, 50);
}
.logoRestaurant{
    font-size: 30px;
}
.logoName{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-size: 20px;
}
.textdecor{
    text-decoration: none;
}
form{
    position: relative;
    margin-right: 30vw;
    margin-top: 25px;
}
input{
    border: none;
    width: 400px;
    background: linear-gradient(35deg,#5d5c5c,#2f2f2f);
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    color:white;
    padding: 3px 25px;
}
.biSearch{
    position: absolute;
    color: white;
    top:6px;
    left: 3px;
}

