*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
.division{
    margin-left: 40px;
    display: grid;
    grid-template-columns: [first] 75vw [line2] 20vw;
    gap: 50px;
}